/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .logo {
    font-size: 40px;
  }
  .logo img {
    width:140px;
    border:1px solid yellow;
    border-radius:50%;
  }
  #Banner {
    background: linear-gradient(274deg, #7dbabd, #5c5c80 44%, #3e212e);
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }
  #customers-pricing .item {
    margin-bottom: 0;
  }
  .zoom {
    transition: transform .2s; /* Animation */
    -ms-transform: scale(0.95); /* IE 9 */
    transform: scale(0.95);
  }
  .zoom:hover {
    transform: scale(1); /* (100% zoom) */
    -ms-transform: scale(1); /* IE 9 */
  }
  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }
  #Contact .contact-wrapper span {
    font-size: 18px;
  }
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important;
  }
  form input {
    font-size: 20px;
    font-family: inherit;
    color: #4a4a49;
  }
  form textarea {
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
    color: #4a4a49;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    color: grey;
    opacity: .6;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02ccba;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #02ccba;
  }
  .btn-primary {
    border:none;
  }
  /*flipcard */
  .flipCard .cards {
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }
  .flipCard .cards .frontFlip {
      width:100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .flipCard .cards .backFlip {
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .flipCard .cards.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .logo i {
    font-size: 40px;
  }
  .logo img {
    width:140px;
    border:1px solid yellow;
    border-radius:50%;
  }
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #Banner {
    background: linear-gradient(274deg, #7dbabd, #5c5c80 44%, #3e212e);
  }
  #Banner .content-wrap h1 {
    font-size: 36px;
  }
  #Banner .content-wrap h3 {
    font-size: 20px;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  #Portfolio .portfolio-wrapper .each-portfolio {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
  }
  #customers-pricing .item {
    margin-bottom: 0;
  }
  .zoom {
    transition: transform .2s; /* Animation */
    -ms-transform: scale(0.95); /* IE 9 */
    transform: scale(0.95);
  }
  .zoom:hover {
    transform: scale(1); /* (100% zoom) */
    -ms-transform: scale(1); /* IE 9 */
  }
  #Contact .contact-wrapper {
    border-right: none;
    margin-right: 0;
    padding: 0;
  }
  #Contact .contact-wrapper span {
    font-size: 18px;
  }
  #Contact .address-block.border-bottom {
    margin-bottom: 40px;
    padding: 0 15px 30px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important;
  }
  form input {
    font-size: 20px;
    font-family: inherit;
    color: #4a4a49;
  }
  form textarea {
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
    color: #4a4a49;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    color: grey;
    opacity: .6;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02ccba;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #02ccba;
  }
  .btn-primary {
    border:none;
  }
  /*flipcard */
  .flipCard .cards {
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }
  .flipCard .cards .frontFlip {
      width:100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .flipCard .cards .backFlip {
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .flipCard .cards.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .logo img {
    width:150px;
    border:1px solid yellow;
    border-radius:50%;
  }
  #Banner {
    background: linear-gradient(274deg, #7dbabd, #5c5c80 44%, #3e212e);
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  .zoom {
    transition: transform .2s; /* Animation */
    -ms-transform: scale(0.95); /* IE 9 */
    transform: scale(0.95);
  }
  .zoom:hover {
    transform: scale(1); /* (100% zoom) */
    -ms-transform: scale(1); /* IE 9 */
  }
  #Contact .contact-wrapper span {
    font-size: 16px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important;
  }
  #Contact .c-icon {
    margin-right: 10px;
  }
  form input {
    font-size: 20px;
    font-family: inherit;
    color: #4a4a49;
  }
  form textarea {
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
    color: #4a4a49;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    color: grey;
    opacity: .6;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02ccba;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #02ccba;
  }
  .btn-primary {
    border:none;
  }
  /*flipcard */
  .flipCard .cards {
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }
  .flipCard .cards .frontFlip {
      width:100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .flipCard .cards .backFlip {
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .flipCard .cards.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .content-section {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .logo img {
    width:180px;
    border:1px solid yellow;
    border-radius:50%;
  }
  #Banner {
    background: linear-gradient(274deg, #7dbabd, #5c5c80 44%, #3e212e);
  }
  #Banner .content-wrap h1 {
    font-size: 40px;
  }
  #Banner .content-wrap h3 {
    font-size: 24px;
  }
  .btn-xl {
    padding: 20px 30px;
  }
  .content-section-heading h2 {
    font-size: 30px;
  }
  .zoom {
    transition: transform .2s; /* Animation */
    -ms-transform: scale(0.95); /* IE 9 */
    transform: scale(0.95);
  }
  .zoom:hover {
    transform: scale(1); /* (100% zoom) */
    -ms-transform: scale(1); /* IE 9 */
  }
  #Contact .contact-wrapper span {
    font-size: 16px;
  }
  footer.footer .social-link {
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  .owl-nav {
    display: none !important;
  }
  #Contact .c-icon {
    margin-right: 10px;
  }
  form input {
    font-size: 20px;
    font-family: inherit;
    color: #4a4a49;
  }
  form textarea {
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
    color: #4a4a49;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    color: grey;
    opacity: .6;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02ccba;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #02ccba;
  }
  .btn-primary {
    border:none;
  }
  /*flipcard */
  .flipCard .cards {
      -webkit-transition: -webkit-transform 1s;
      -moz-transition: -moz-transform 1s;
      -o-transition: -o-transform 1s;
      transition: transform 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform-origin: 50% 50%;
  }
  .flipCard .cards .frontFlip {
      width:100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
  }
  .flipCard .cards .backFlip {
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }
  .flipCard .cards.flipped {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
  }

}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #Banner {
    background: linear-gradient(274deg, #7dbabd, #5c5c80 44%, #3e212e);
  }
  .logo img {
    width:180px;
    border:1px solid yellow;
    border-radius:50%;
  }
  .zoom {
    transition: transform .2s; /* Animation */
    -ms-transform: scale(0.95); /* IE 9 */
    transform: scale(0.95);
  }
  .zoom:hover {
    transform: scale(1); /* (100% zoom) */
    -ms-transform: scale(1); /* IE 9 */
  }
  form input {
    font-size: 20px;
    font-family: inherit;
    color: #4a4a49;
  }
  form textarea {
    font-size: 18px;
    font-family: inherit;
    font-style: italic;
    color: #4a4a49;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    color: grey;
    opacity: .6;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #02ccba;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #02ccba;
  }
  .btn-primary {
    border:none;
  }
/*flipcard */
.flipCard .cards {
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.flipCard .cards .frontFlip {
    width:100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipCard .cards .backFlip {
  width:100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.flipCard .cards.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.btn p:hover {
  color:gray;
}
}
